/*                                   footer                            */
footer {
  padding: 24px 0;
  position: relative;
  background-color: $main;
  margin-top: 40px;
}
.copy-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
.copy-right {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  text-align: center;
  span {
    font-weight: 500;
  }
}
.design-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
  color: $white;
  gap: 5px;
}
@media (max-width: 991px) {
  footer {
    padding: 20px 0 120px;
  }
}
/*                                   footer                            */
