/*           swiper section                     */
.main-slider {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.main,
.swiper-cont {
  position: relative;
}
.main .pro-img {
  @include flexCenter;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 390/169;
  border-radius: 20px;
}
.main .pro-img img {
  width: 100%;
}
.main-slider .swiper-btn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: $secondary;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .main-slider .swiper-btn {
    display: flex;
  }
}

.main-slider .swiper-btn:hover {
  color: $main;
}
.main-slider .swiper-btn i {
  z-index: 2;
}
.swiper-btn.swiper-btn-next {
  left: 28px;
}

.swiper-btn.swiper-btn-prev {
  right: 28px;
}

.main-slider .swiper-pagination {
  position: absolute;
  width: 100%;
  bottom: 25px;
  @include flexCenter;
  gap: 6px;
}

@media (max-width: 991px) {
  .main-slider .swiper-pagination {
    bottom: 15px;
  }
}

.main-slider .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: $main;
  opacity: 0.4;
  margin: 0;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
  @include flexCenter;
  &::after {
    content: "";
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
  }
}

.main-slider .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: 1;
}

.main-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $main;
  opacity: 1;
  width: 12px;
  height: 12px;
  border: 1px solid $main;
  background-color: transparent;
  &::after {
    width: 8px;
    visibility: visible;
    opacity: 1;
    background-color: $main;
  }
}
/*                          main-slider                             */
/*                      category-section                      */
.category-section {
  text-align: center;
  margin-top: 20px;
}

.category-slider {
  position: relative;
}
.category-ancor {
  font-size: 14px;
  font-weight: 700;
  color: $text;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
.category-grid {
  .category-ancor {
    font-size: 18px;
  }
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 8px;
  margin-bottom: 20px;
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.category-ancor:hover {
  text-decoration: none;
  color: $main;
}
.category-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 14px;
  background: #d9d9d9;
  margin: 0;
  transition: all 0.3s ease-in-out;
  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
}

.category-ancor:hover img {
  transform: scale(1.01);
}

/*                      category-section                      */
/*                      my-bids-section                      */
.bids-section,
.my-bids-section {
  margin-top: 20px;
}
.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}
.section-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  color: $text;
  margin: 0;
}
.products-link {
  color: $text;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $main;
  }
}
.grid-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.my-bids-item {
  width: 100%;
  overflow: hidden;
  background-color: $secondary;
  border: 1px solid $border;
  padding: 9px;
  border-radius: 8px;
  @include tr;
  &:hover {
    border-color: $main;
    img {
      transform: scale(1.05);
    }
  }
}
.my-bids-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 9px;
  figure {
    max-width: 36px;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }
}
.product-name {
  font-weight: 500;
  font-size: 14px;
  color: $text;
  margin: 0;
  overflow: hidden;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 44px;
}
.my-bids-info {
  display: flex;
  align-items: center;
  gap: 9px;
}
.live-dot {
  background: red;
  animation: live 1.5s infinite alternate ease-in-out;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin: 6px;
}
@keyframes live {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}
.bids-status {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-weight: 900;
  font-size: 16px;
  &.pass {
    color: #29a71a;
    background-color: rgba(41, 167, 26, 0.1);
  }
  &.fail {
    color: #e20000;
    background-color: rgba(226, 0, 0, 0.1);
    .status {
      font-weight: 400;
      font-size: 12px;
    }
  }
}

/*                      my-bids-section                      */

/*                                  brands slider                    */
/*                            product section                           */
.product-section {
  margin-top: 20px;
}
.product-item {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: $secondary;
  border-radius: 8px;
  border: 1px solid $border;
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}
.product-img {
  position: relative;
  figure {
    @include flexCenter;
    aspect-ratio: 189/118;
    overflow: hidden;
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }
  .timer {
    font-weight: 900;
    font-size: 14px;
    color: $white;
    background-color: rgba(0, 0, 0, 0.5);
    @include flexCenter;
    border-radius: 8px;
    padding: 6px;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
  .live-dot {
    position: absolute;
    top: 7px;
    inset-inline-end: 7px;
  }
}
.product-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-item:hover .product-name {
  color: $main;
}
.product-type {
  font-weight: 400;
  font-size: 12px;
  color: $text;
}
.product-status {
  @include flexCenter;
  gap: 1px;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: rgba(#8bc4ff, 0.1);
  font-weight: 400;
  font-size: 12px;
  color: $text;
  span {
    font-weight: 900;
    font-size: 16px;
    color: $main;
  }
}
.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 900;
  font-size: 14px;
  color: $main;
  .date {
    font-weight: 400;
    font-size: 12px;
    color: $sec;
    .dark-mode & {
      color: $white;
    }
  }
}
.add-fav {
  background-color: $main;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  @include tr;
  width: 20px;
  aspect-ratio: 1;
  @include flexCenter;
  color: $white;
  font-size: 11px;
  position: absolute;
  top: 15px;
  inset-inline-end: 15px;
  border-radius: 7px;
  &:hover {
    background-color: $black;
  }
}
.fixed-block {
  position: absolute;
  top: 15px;
  inset-inline-start: 0;
  background-color: rgba(#fff, 0.8);
  height: 25px;
  font-weight: 700;
  font-size: 12px;
  color: #e20000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 5px 0 15px;
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
  img {
    max-width: 32px;
    transform: translateY(-5px) scaleX(-1);
    // box-shadow: 0px 4px 4px 0px #00000040;
    // backdrop-filter: blur(2px);
  }
}
/*product section */
