.sign-section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-container {
  text-align: center;
  width: 100%;
  max-width: 496px;
  margin: 0 auto;
  background-color: $secondary;
  border-radius: 10px;
  border: 1px solid $border;
  padding: 50px 30px;
  @include max-991 {
    padding: 20px;
    border: none;
    background-color: transparent;
  }
  margin: 20px;
}
.form-cont {
  text-align: center;
}
.upper-head {
  @include flexCenter;
  margin-bottom: 40px;
}
.logo-ancor {
  display: inline-block;
}
.logo-img {
  margin-bottom: 40px;
  img {
    width: 271px;
    max-width: 100%;
  }
}
.form-head {
  font-weight: 700;
  font-size: 22px;
  color: $main;
  text-align: center;
  margin-bottom: 15px;
}
.form-pargh {
  font-weight: 400;
  font-size: 16px;
  color: $sec;
  text-align: center;
  margin-bottom: 40px;
  .dark-mode & {
    color: $primary;
  }
}
.login-form {
  max-width: 100%;
  .form-group {
    width: 100%;
    text-align: start;
    position: relative;
    margin-bottom: 20px;
  }
}
.link-escape {
  color: $main;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  margin: 40px auto 0;
  @include tr;
  &:hover {
    color: $sec;
  }
}
.register-btn {
  font-size: 18px;
  font-weight: 400;
  color: $main;
  text-decoration: none !important;
  @include tr;
  &:hover {
    color: $main;
  }
  margin-top: 40px;
  display: inline-block;
}
.register-span {
  font-size: 18px;
  font-weight: 400;
  color: $text;
}
.form-number {
  font-weight: 700;
  font-size: 18px;
  color: $sec;
  text-align: center;
  margin-bottom: 35px;
  .dark-mode & {
    color: $primary;
  }
}
.digit-group {
  margin: 0 auto;
  direction: ltr;
  margin-bottom: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.digit-group input {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  aspect-ratio: 1;
  height: auto;
  // line-height: 95px;
  outline: none;
  border: 1px solid $border;
  background-color: $secondary;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: $main;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  &:focus {
    border-color: $main;
    outline: none;
  }
}
.check-label {
  /* min-width: 25%; */
  text-align: start;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
  color: $text;
  padding-inline-start: 25px;
  transition: all 0.3s ease-in-out;
  a {
    color: $main;
  }
}
.check-label:has(input:checked) {
  border-color: $main;
}
.check-group input[type="checkbox"],
.check-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-group .checkmark {
  border: none;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check-group .custom-checkmark {
  border-radius: 4px;
}
.check-group input[type="checkbox"] ~ .checkmark {
  border-radius: 4px;
}
.check-group:hover input ~ .checkmark {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.check-group input:checked ~ .checkmark {
  background-color: $main;
}
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: visible;
}
.check-group input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
}
.check-group input:checked ~ .checkmark {
  background-color: #fff;
}
.check-group input:checked ~ .custom-checkmark {
  background-color: $main;
}
.check-group .checkmark:after {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $main;
}
.check-group .custom-checkmark:after {
  content: "\f00c";
  font-family: "Font Awesome 6 pro";
  font-weight: 900;
  font-size: 10px;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
